@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background: #EEEEEE;
  font-size: 18px;
  height: 100vh;
}

.login-container {
  margin: 0 auto;
  text-align: center;
}

.login-container .logo {
  width: 120px;
}

.login-container h1 {
  margin: 1em 0;
}

.login-container p {
  line-height: 1.7rem;
}

.login-container .left {
  background: linear-gradient(160deg, #5555558c 0%, #72727293 100%),url("/images/woman.jpg");
  background-size: cover;
  padding: 1em;
}

.login-container .left p,.login-container .left h1 {
  color: white;
}

.login-container .reg-left {
  background: linear-gradient(160deg, #5555558c 0%, #72727293 100%),url("/images/hair.png");
  background-size: cover;
  padding: 1em;
}

.login-container .reg-left p,.login-container .reg-left h1 {
  color: white;
}

.login-container .right p {
  margin: 2em 0 1em;
}

.login-container input,.login-container button {
  width: calc(100% - 3em);
  padding: .5em;
  font-size: 1.3rem;
  outline: none;
  margin: 1em;
}

.login-container button {
  width: calc(100% - 2em);
  margin: 0;
  background: rgba(48,131,255,0.692);
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  button {
    width: 60% !important;
  }

  input {
    width: calc(60% - 1em) !important;
  }
}

@media only screen and (min-width: 1024px) {
  .login-container .logo {
    margin: 1em 0;
  }

  p {
    line-height: 1.7em !important;
  }

  .container-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
    grid-template-columns: 55% auto;
  }

  .container-inner .reg-left,.container-inner .left {
    text-align: left;
    padding: 0 2em;
    height: 100vh;
    display: -ms-grid;
    display: grid;
  }

  .container-inner .reg-left .content,.container-inner .left .content {
    padding: 0 3em;
  }

  .container-inner .reg-left h1,.container-inner .left h1 {
    margin: 0;
    font-size: 2.4em;
  }

  .container-inner .reg-left h1 span,.container-inner .left h1 span {
    display: block;
  }

  .container-inner .right {
    text-align: right;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0 2em 1.5em;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .container-inner .right input, .container-inner .right select {
    width: 100% !important;
    margin: 1em 0;
  }

  .container-inner .right button {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 22px;
  }

  .content {
    padding: 0 6em !important;
  }

  .right {
    padding: 0 !important;
  }
}

.auth .right {
    text-align: center;
    padding-top: 6%;
}
.auth .right h2 {
    margin-bottom: 5px;
}

.auth .login-container .right p {
    margin: 0px !important;
}

.auth input {
    box-sizing: border-box;
    height: 2.4375rem;
    margin: 1rem;
    padding: 0.5rem 1erm;
    border: 1px solid #767777;
    border-radius: 0;
    background-color: #fefefe !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    -webkit-appearance: none;
    border-radius: 25px;
}

.auth select {
  box-sizing: border-box;
  height: 2.4375rem;
  margin: 1rem;
  padding: 0.5rem 1erm;
  border: 1px solid #767777;
  border-radius: 0;
  background-color: #fefefe !important;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;

  border-radius: 25px;
}


.auth input:focus {
    outline: none;
    border: 1px solid #232323;
    background-color: #fefefe;
    box-shadow: 0 0 5px #767777;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}

.auth a {
    color: white;
    text-decoration: none;
}

.auth button {
    /* background-color: #00adf1; */
    border-radius: 25px;
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA 51%, #9D50BB 100%)
    
}

.auth button:hover {
    color: #333;
    background-position: right center;
}

.auth .alert {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.auth .form-group {
    margin-bottom: 10px;
}

.auth .link {
    margin-top: 20px;
    color: white;
}

.auth .link a {
    color: #00adf1;
}

.auth .left a, .auth .reg-left a {
    color: #00adf1;
}

.auth .right {
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.auth .right h2 {
    color: white;
}

.auth .right label {
    color: white;
}

body {
    /* background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%) */
    background: linear-gradient(to right, lightgray 5%,  #000000 100%);
}

form .error {
    font-size: 13px;
    color: red;
    padding: 10px;
    /* border: 2px solid red; */
    border-radius: 25px;
}

form .error i {
    font-size: 20px;
}

form .success {
    color: #33cc33;
    padding: 10px;
    /* border: 2px solid #33cc33; */
    border-radius: 25px;
}


.forget-link a {
	color: #aaaaaa;
	font-size: 14px;
	margin-bottom: 10px;
  }


  .forget-link a:hover {
	color: white;
  }

  @media only screen and (min-width: 768px) {
    select {
        width: calc(60% - 1em) !important;
    }
}