$main_color:#1787e0;
$second_color:#d9eefa;
$white-color:#fff;
$danger_color:red;

body {
    color: $main_color
}

#artist-landing {
    .artist_landing {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        .artist_landing_item {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: $main_color;
                font-weight: bold;
            }
        }
    }

    .join {
        background-color: $second_color;
    }

    .category_list {
        margin: 35px 0px;
        display: flex;
        justify-content: center;

        div.button {
            width: 200px;
            cursor: pointer;
            margin-bottom: 15px;
        }

        .btn-light {
            color: $main_color;
            background-color: $white-color;
            border-color: $main_color;
            border-radius: 10px;
            text-align: left;
            padding: 0px 0px;

            i {
                padding-left: 10px;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 10px 0 0 10px;
                margin-right: 5px;
            }

        }



    }

    .carousel_list {
        margin: 35px 0px;
        display: flex;
        justify-content: center;

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;

            .right_all {
                position: relative;
                top: 0.5rem;
            }

        }

    }

    div.carousel_main {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;

        i {
            font-size: 2rem;
        }

        // alwaysShowChevrons={false}
        div {
            div {
                .chevron {
                    color: #f8f9fa;
                    font-size: 2rem;
                    padding: 10px 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #1787e0;
                    border-radius: 25px;
                    border: 0px;
                    line-height: 0;
                    font-family: "Ionicons";
                    line-height: .7;
                    display: inline-block;
                    outline: none;
                }

                .right-chevron {

                    margin-left: 20px;
                }

                .right-chevron::before {
                    content: "\F3D3";
                }

                .left-chevron {
                    margin-right: 20px;
                }

                .left-chevron::before {
                    content: "\F3D2";
                }
            }
        }

        .card {
            border-width: 0px;
            height: 300px;

            img {
                border-radius: 8px;
                width: 100%;
                height: 200px;
            }

            .bookmark {
                position: absolute;
                top: 10px;
                right: 20px;

                i {
                    font-size: 1.4rem;
                }
            }

            .title {
                font-weight: 500;
                font-size: 0.8rem;

                i {
                    font-size: 0.1rem;
                    vertical-align: middle;
                    margin-top: -0.1rem;
                }
            }

            .name {
                font-size: 1.2rem;
                font-weight: 600;

                i {
                    font-size: 1rem;
                }
            }

            .location {
                font-size: smaller;

                i {
                    font-size: 0.8rem;
                }
            }

            .appointment {
                font-size: smaller;
            }

        }
    }

    .artist_spotlight {
        background-color: #f3f9fd;
        width: 100%;
        padding: 50px;
        margin: 35px 0px;

        .photo_name_area {
            display: flex;
            margin: 20px 0;

            .artist_photo {
                margin-right: 20px;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                }
            }

            .artist_name {
                display: flex;
                align-items: center;

                div {
                    h2 {
                        font-size: 1.8rem;
                        font-weight: 700;
                    }

                    span {
                        font-size: 0.7rem;
                        vertical-align: top;

                        i {
                            font-size: 0.1rem;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .single_carousel {
            .image-gallery-swipe {
                padding: 0 100px;

            }

            .image-gallery-slide-wrapper {

                .image-gallery-left-nav::before,
                .image-gallery-right-nav::before {
                    color: white;
                    text-shadow: none;
                    transition: none;
                }

                .image-gallery-left-nav,
                .image-gallery-right-nav {
                    color: #f8f9fa;
                    font-size: 2rem;
                    padding: 10px 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #1787e0;
                    border-radius: 25px;
                    outline: none;
                }

                .image-gallery-slide {
                    border-radius: 15px;

                    img {
                        width: 100%;
                        height: 300px;
                        border-radius: 15px;
                    }
                }
            }

            .image-gallery-thumbnails-wrapper {
                .image-gallery-thumbnails {
                    .image-gallery-thumbnail {
                        display: inline-block;
                        border: 3px solid transparent;
                        transition: border .3s ease-out;
                        width: 70px;
                    }

                    .image-gallery-thumbnail.active {
                        border: 3px solid #1787e0;
                    }
                }
            }
        }
    }

    .available_artist {
        width: 100%;
        padding: 0px 50px;
        margin: 50px 0px;

        .heading {
            display: flex;
            justify-content: space-between;
        }

        .cardlist {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;

            .card {
                width: 158px;
                margin: 5px 5px 5px 0;
                height: 300px;
                border-width: 0px;

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 200px;
                }

                .bookmark {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                }

                .title {
                    font-weight: 500;
                    font-size: 0.8rem;

                    i {
                        font-size: 0.1rem;
                        vertical-align: middle;
                        margin-top: -0.1rem;
                    }
                }

                .name {
                    font-size: 1.1rem;
                    font-weight: 600;

                    i {
                        font-size: 1rem;
                    }
                }

                .location {
                    font-size: smaller;

                    i {
                        font-size: 0.8rem;
                    }
                }

                .appointment {
                    font-size: smaller;
                }
            }


        }

    }

    .makeup_lessons {
        width: 100%;
        padding: 0px 50px;
        margin: 50px 0px;

        .heading {
            display: flex;
            justify-content: space-between;
        }

        .cardlist {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;

            .card {
                width: 158px;
                margin: 5px 5px 5px 0;
                height: 300px;
                border-width: 0px;

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 200px;
                }

                .bookmark {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                }

                .title {
                    font-weight: 500;
                    font-size: 0.8rem;

                    i {
                        font-size: 0.1rem;
                        vertical-align: middle;
                        margin-top: -0.1rem;
                    }
                }

                .name {
                    font-size: 1.1rem;
                    font-weight: 600;

                    i {
                        font-size: 1rem;
                    }
                }

                .location {
                    font-size: smaller;

                    i {
                        font-size: 0.8rem;
                    }
                }

                .appointment {
                    font-size: smaller;
                }
            }


        }

    }
}

p {
    .error {
        color: $danger_color;
    }
}


.nav-link {
    cursor: pointer;
}

div {
    .button {
        width: 125px;
        cursor: pointer;
    }
}