.auth .right {
    text-align: center;
    padding-top: 6%;
}
.auth .right h2 {
    margin-bottom: 5px;
}

.auth .login-container .right p {
    margin: 0px !important;
}

.auth input {
    box-sizing: border-box;
    height: 2.4375rem;
    margin: 1rem;
    padding: 0.5rem 1erm;
    border: 1px solid #767777;
    border-radius: 0;
    background-color: #fefefe !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    -webkit-appearance: none;
    border-radius: 25px;
}

.auth input:focus {
    outline: none;
    border: 1px solid #232323;
    background-color: #fefefe;
    box-shadow: 0 0 5px #767777;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}

.auth a {
    color: white;
    text-decoration: none;
}

.auth button {
    /* background-color: #00adf1; */
    border-radius: 25px;
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA 51%, #9D50BB 100%)
    
}

.auth button:hover {
    color: #333;
    background-position: right center;
}

.auth .alert {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.auth .form-group {
    margin-bottom: 10px;
}

.auth .link {
    margin-top: 20px;
    color: white;
}

.auth .link a {
    color: #00adf1;
}

.auth .left a, .auth .reg-left a {
    color: #00adf1;
}

.auth .right {
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.auth .right h2 {
    color: white;
}

.auth .right label {
    color: white;
}

body {
    /* background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%) */
    background: linear-gradient(to right, lightgray 5%,  #000000 100%);
}

form .error {
    font-size: 13px;
    color: red;
    padding: 10px;
    /* border: 2px solid red; */
    border-radius: 25px;
}

form .error i {
    font-size: 20px;
}

form .success {
    color: #33cc33;
    padding: 10px;
    /* border: 2px solid #33cc33; */
    border-radius: 25px;
}


@media only screen and (min-width: 768px) {
    select {
        width: calc(60% - 1em) !important;
    }
}
