@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: normal;
    src: url('../Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../Montserrat-Regular.otf');
}

nav {
    background-color: white !important;
}

nav a {
    color: #ee6e73 !important;
}

#student_public {
    font-family: 'Montserrat';
}

#student_public .content {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#student_public .content .row {
    margin-bottom: 0px !important;
}
#student_public .content .row .container {
    padding: 5%;
    background: white;
    margin-bottom: 5%;
}
#student_public .content .header .profile .personal_info p {
    margin: 0px !important;
}
#student_public .content .header .profile .personal_info .name {
    font-size: 34px;
    line-height: 39px;
    font-weight: bolder;
    color: #4a4a4a;
    padding-bottom: 5px;
}
#student_public .content .header .profile .personal_info .job {
    font-size: 18px;
    line-height: 24px;
    color: #84898f;
}
#student_public .content .header .profile .personal_info .location {
    font-size: 18px;
    line-height: 24px;
    color: #84898f;
    line-height: 1;
}
#student_public .content .header .profile .personal_info button {
    font-size: 14px;
    color: white;
    padding: 12.5px 65px;
    background: transparent linear-gradient(90deg, #ec1b77 0%, #ff5f21 100%) 0% 0% no-repeat;
    border: 0px;
    margin-top: 22px;
}
#student_public .content .links {
    margin-top: 20px;
}

#student_public .content p {
    color: #707070;
    font-size:14px;
    line-height: 24px;
}

#student_public .content p.category {
    color: #4a4a4a;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
#student_public .content .skills .tag {
    padding: 10px 30px;
    background-color: #e4e4e4;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 3;
}
#student_public .content .education {
    margin-top: 30px;
}
#student_public .content .education p.degree {
    color: #3431a4;
    margin: 0px !important;
    font-size: 18px;
    font-weight: 700;
}
#student_public .content .education p.university {
    font-size: 16px;
    margin: 0px !important;
    color: #707070;
}
#student_public .content .education p.year {
    margin: 0px !important;
}
#student_public .content .education .content p.normal {
    font-size: 18px;
    color: #707070;
}

#student_public .content .portfolio .card .card-content {
    padding-bottom: 0;
}

#student_public .content .portfolio .card .card-title {
    color: #3431a4;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

#student_public .content .portfolio .card p {
    padding-right: 25px;
}

#student_public .content .portfolio .card .card-action {
    border: 0px !important;
    display: flex;
    justify-content: space-between;
}

#student_public .content .portfolio .card .card-action .italic {
    font-style: italic;
}

#student_public .aboutme, #student_public .skills, #student_public .education {
    margin-bottom: 40px;
}


@media screen and (max-width: 600px) {
    #student_public nav .brand-logo {
        left: 10%;
   }
    #student_public .content {
        background-color: white;
   }
    #student_public .content .row .container {
        margin-top: 1%;
   }
    #student_public .content .header .profile {
        text-align: center;
   }
    #student_public .content .header .profile img {
        height: 166px;
        width: 166px;
        border-radius: 50%;
   }
    #student_public .content .header .profile .personal_info {
        margin-bottom: 10px;
   }
    #student_public .content .header .profile .personal_info p {
        margin: 0px !important;
   }
    #student_public .content .header .profile .personal_info .name {
        font-size: 39px;
        font-weight: bolder;
        color: #4a4a4a;
   }
    #student_public .content .header .profile .personal_info .job {
        font-size: 22px;
        color: #84898f;
   }
    #student_public .content .header .profile .personal_info .location {
        font-size: 22px;
        color: #84898f;
   }
    #student_public .content .links .col.s6.m4.l4.xl4 {
        background-color: white;
        margin-bottom: 20px;
        margin-top: 20px;
   }
    #student_public .content .links .title {
        font-size: 18px;
        color: #4a4a4a;
   }
    #student_public .content .links .link {
        color: #84898f;
        font-size: 13px;
   }
    #student_public .content .links .download {
        color: #3431a4;
        font-size: 13px;
   }
    #student_public .content .links p {
        margin: 0px !important;
   }
}

@media screen and (min-width: 601px) {
    #student_public .content {
        background: #f8f8f8;
   }
    #student_public .content .header .profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
   }
    #student_public .content .header .profile img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
   }
    #student_public .content .header .profile .personal_info {
        margin-left: 7%;
   }
    #student_public .content .links .col.s6.m4.l4.xl4 {
        background-color: white;
        margin-bottom: 20px;
        margin-top: 20px;
   }
    #student_public .content .links .title {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #4a4a4a;
   }
    #student_public .content .links .link {
        color: #84898f;
        font-size: 14px;
        line-height: 24px;
   }
    #student_public .content .links .download {
        color: #3431a4;
        font-size: 14px;
        line-height: 24px;
   }
    #student_public .content .links p {
        margin: 0px !important;
   }
}
