#profile-checklist .list-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20%;
    color: #acd4f4;
}
#profile-checklist .list-item .description {
    margin-right: 15px;
}
#profile-checklist .list-item h3 {
    font-weight: bold;
}
#profile-checklist .list-item .right-span {
    min-width: 90px;
    text-align: right;
}

#profile-checklist .list-item .right-span .btn {
    background-color: #acd4f4;
    color: white;
    font-weight: bold;
}
#profile-checklist .list-item .right-span i {
    color: #acd4f4;
    font-weight: bold;
    font-size: 48px;
}
#profile-checklist .list-item.active{
    color: #1787e0;
}
#profile-checklist .list-item.active .right-span .btn {
    background-color: #1787e0;
}
#profile-checklist .list-item.active .right-span i {
    color: #1787e0;
}