#profile-checklist .list-item.active h3 {
    color: #1787e0;
    font-weight: bold;
}
#profile-checklist .list-item.active p {
    color: #1787e0;
}

.btn-box {
    display: flex;
    align-items: center;
}

#profile-checklist .list-item .btn.standard {
    padding: 2% 6%;
    background-color: #acd4f4;
    color: white;
    font-weight: bold;
    display: block;
}

#profile-checklist .list-item.active .btn.standard {
    padding: 2% 6%;
    background-color: #1787e0;
    color: white;
    font-weight: bold;
    display: block;
}
#profile-checklist .list-item h3 {
    color: #acd4f4;
    font-weight: bold;
}
#profile-checklist .list-item p {
    color: #acd4f4;
}
